---
import Layout from '../layouts/HomeLayout.astro';
import Header from '../components/Header.astro';
import ParticleBG from "../components/ParticleBG.astro";
import Footer from '../components/Footer.astro';
import BlogGrid from '../components/BlogGrid.astro';
---

<Layout title="Blogs | Antarman">
  <ParticleBG />
  <Header />
  <main class="relative">
    <div class="absolute inset-0 bg-gradient-to-b from-purple-900/50 via-purple-800/30 to-transparent"></div>
    <div class="relative z-10">
      <div class="container mx-auto px-6 py-16 text-center md:py-20 lg:px-0 lg:py-28">
        <h1 class="text-5xl font-extrabold leading-tight text-white md:text-6xl lg:text-7xl animate-fade-in">
          Our Blog Posts
        </h1>
        <p class="mx-auto mt-6 max-w-3xl text-xl text-purple-100 md:text-2xl animate-slide-up">
          Insights and Stories from Antarman
        </p>
      </div>
    </div>
  </main>
  
  <div class="container mx-auto px-4">
    <BlogGrid />
  </div>
  <style>
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes slideUp {
      from { transform: translateY(20px); opacity: 0; }
      to { transform: translateY(0); opacity: 1; }
    }

    .animate-fade-in {
      animation: fadeIn 1s ease-out;
    }

    .animate-slide-up {
      animation: slideUp 1s ease-out;
    }
  </style>
  <Footer />
</Layout>
