---
import Layout from '../layouts/HomeLayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ParticleBG from "../components/ParticleBG.astro";
//import GridBG from "../components/GridBG.astro";

import ClinicLocations from './homepage/ClinicLocations.astro';
import ClinicSpecialisation from './homepage/ClinicSpecialisation.astro';
import DoctorList from './homepage/DoctorList.astro';
import Services from './homepage/Services.astro';
import Internship from './homepage/Internship.astro';
import MediaSection from './homepage/MediaSection.astro';
import Feedback from './homepage/Feedback.astro';
---

<Layout title="My Astro Project">
  <ParticleBG />
  <!-- <GridBG /> -->

  <Header />
  <section class="container mx-auto p-4 mt-24">  
    <img src="/seV9PRm.webp" alt="Header image" class="w-full h-auto">
  </section>
  <main class="container mx-auto p-4 mt-24">

    <ClinicLocations />
    <ClinicSpecialisation />
    <DoctorList />
  </main>
  <Footer />
</Layout>