---
import Layout from '../layouts/HomeLayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ParticleBG from "../components/ParticleBG.astro";
import HeroSection from './homepage/HeroSection.astro';
//import GridBG from "../components/GridBG.astro";


import ClinicLocation from './homepage/ClinicLocation.astro';
import DoctorList from './homepage/DoctorList.astro';
import Services from './homepage/Services.astro';
import MediaSection from './homepage/MediaSection.astro';
import Feedback from './homepage/Feedback.astro';
---

<Layout 
  title="Antarman | Professional Mental Health Services" 
  description="Expert psychological and psychiatric care at Antarman clinic. Professional counseling, therapy, and mental health services with experienced doctors and modern facilities."
>
  <ParticleBG />

  <Header />
  <HeroSection/>
  
  <main class="container mx-auto p-4 mt-24">
    <div id="clinic-locations">
      <ClinicLocation />
    </div>
    <DoctorList />
    <Services />
    <MediaSection />
    <Feedback />
  </main>
  <Footer />
</Layout>