---
// Header.astro
import ShimmerButton from "@/components/ui/shimmer-button";
---

<header>
<nav class="flex items-center justify-center gap-4 py-4 px-6 bg-white">
  <ShimmerButton
    shimmerColor="#808080"
    background="#ffffff"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    Home
  </ShimmerButton>

  <ShimmerButton 
    shimmerColor="#808080"
    background="#ffffff"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    About
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#808080" 
    background="#ffffff"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    Activities
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#808080"
    background="#ffffff" 
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    Internship
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#808080"
    background="#ffffff"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    Fee
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#808080"
    background="#ffffff"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    Online Consult
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#808080"
    background="#ffffff"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-black"
  >
    Media
  </ShimmerButton>
</nav>
</header>