---
// Header.astro
import ShimmerButton from "@/components/ui/shimmer-button";
---

<header>
<nav class="flex items-center justify-center gap-4 py-4 px-6 " style="background-color: #603A88;">
  <ShimmerButton
    shimmerColor="#F5EDF0"
    background="#2F0147"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    Home
  </ShimmerButton>

  <ShimmerButton 
    shimmerColor="#F5EDF0"
    background="#2F0147"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    About
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#F5EDF0" 
    background="#2F0147"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    Activities
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#F5EDF0"
    background="#2F0147" 
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    Internship
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#F5EDF0"
    background="#2F0147"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    Fee
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#F5EDF0"
    background="#2F0147"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    Online Consult
  </ShimmerButton>

  <ShimmerButton
    shimmerColor="#F5EDF0"
    background="#2F0147"
    shimmerSize="2px"
    shimmerDuration="1.5s"
    className="text-white"
  >
    Media
  </ShimmerButton>
</nav>
</header>