---
 import Particles from "../components/ui/particles.tsx";
---

<div class="fixed inset-0 -z-10">
    <Particles
      className="absolute inset-0"
      quantity={500}
      staticity={30}
      ease={50} 
      color="#7E01B3"
      size={2.5}
      ease={50}
      client:load
    />
  </div>